# Ignore environment variables file
.env

# Ignore node modules
node_modules/

# Ignore packages
package-lock.json
package.json

# Ignore local wallets, keys, and configs
wallet/
*.pem
*.key
*.crt
*.env
.env.local
