<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <div id="toast" class="toast"></div>
    <form id="loginForm" action="/login" method="POST">
      <div class="form-group">
        <input type="text" id="email" name="email" placeholder="Enter email" required>
      </div>  
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="Enter password" required>
      </div>    
      <button type="submit" class="submit-btn">Login</button>
    </form>

        <div id="g_id_onload"
        data-client_id="51270339019-5i99oju8s0dcuh3tq32jnj686mmgbk1l.apps.googleusercontent.com"
        data-callback="handleCredentialResponse">
        </div>
        <div class="g_id_signin"></div>

    <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    <img src="https://raw.githubusercontent.com/xmaemaumeowx/cb_hackathon/Maureen/assets/images/artistry.png" alt="Artistry Logo">
    <p id="error"></p>
  </div>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script src="script.js"></script>
</body>
</html>

